<div class="container">
  <h1>Sale list</h1>

  <form class="add-item-form">
    <input type="text" id="item" placeholder="Digite o name do item" />
    <button type="submit">Add</button>
  </form>

  <table>
    <thead>
      <tr>
        <th>#</th>
        <th>Item</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>arroz</td>
        <td><input type="checkbox" /></td>
      </tr>
      <tr>
        <td>2</td>
        <td>batata</td>
        <td><input type="checkbox" /></td>
      </tr>
    </tbody>
  </table>
</div>
